html {
  display: inline;
}

header{
  font-family: 'Permanent Marker', cursive; 
  text-align:center;
  font-size: 70px;
  margin-top: -50px;
  margin-bottom: -100px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  text-align:center;

}

body {
  text-align: center;
  background-image: url("paper.jpg");
  background-size: cover;
}

input {
  padding: 1px;
  margin: 2px;
}

#noResult {
  font-family: 'Permanent Marker', cursive; 
  font-size: 35px;
}